<div class="container">
    <div class="container">
        <div class="collection_text">Storitve</div>
    </div>
    Tukaj lahko pogledate vse svoje dogodke.
    Dogodke lahko urejate ali izbrišete.
    Od dogodkov na katere ste prikavljeni se lahko odjavite.
    <div class="table-responsive-sm">
        <table id="eventTable" class="table table-striped" style="background-color: #a5c9a5; cursor: pointer">
            <tr>
                <th>Ime
                    <div class="dropdown">
                        <button id="filterButton" type="button" class="btn btn-light IconMid"
                                onclick="toggleDropdown('nameFilterDropdown')">
                            <svg width="1em" height="1em" class="bi bi-filter-circle "
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd"
                                      d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-light IconMid"
                                onclick="clearFilter('nameFilterDropdown')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd"
                                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                        <div id="nameFilterDropdown" class="dropdown-content">
                            <input id="nameFilter" type="text"
                                   onkeyup="onNameFilterInput()">
                        </div>
                    </div>
                </th>
                <th>Kraj dogodka</th>
                <th>Kdaj
                    <div class="dropdown">
                        <button type="button" class="btn btn-light IconMid"
                                onclick="toggleDropdown('dateFilterDropdown')">
                            <svg width="1em" height="1em" class="bi bi-filter-circle "
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd"
                                      d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-light IconMid"
                                onclick="clearFilter('dateFilterDropdown')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd"
                                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                        <div id="dateFilterDropdown" class="dropdown-content">
                            <label for="dateFrom">Od:</label>
                            <input id="dateFrom" type="datetime-local" value="">
                            <br/>
                            <label for="dateTo">Do:</label>
                            <input id="dateTo" type="datetime-local">
                            <br/>
                            <button type="button" onclick="onDateFilterInput()">Filtriraj</button>
                        </div>
                    </div>
                </th>
                <th>Akcije</th>
            </tr>

            {{#each dogodki as | dogodek |}}
                {{#if dogodek.jePovprasevanje}}
                {{else}}
                    <tr onclick="window.location = '/eventDetails/{{_id}}'">
                        <td id="uporabnik1">{{naslovOglasa}}</td>
                        <td>{{kraj}}</td>
                        <td>{{datumHome datum}}</td>
                        <td>
                            <form method="get" action="/editEvent/{{dogodek._id}}">
                                <button type="submit" id="uredi" class="btn btn-primary">Uredi</button>
                            </form>
                            <form method="post" action="/dogodki/{{dogodek._id}}/izbrisi">
                                <button type="submit" id="izbrisi" class="btn btn-danger">Izbriši</button>
                            </form>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        </table>
    </div>
</div>
