<div class="about_main layout_padding">
    <div class="collection_section">
        <div class="container">
            <div class="container">
                <div class="collection_text">Profil</div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <h2>Povprečna ocena profila:</h2>
        <div>{{{zvezdice uporabnik.ocena}}}</div>
    </div>
    <table class="table table-hover table-bordered table-striped" style="width: 50%;margin-left: 25%;margin-right: 25%; background-color: #a5c9a5">
        <tr>
            <td>Uporabnisko ime</td>
            <td>{{uporabnik.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{uporabnik.email}}</td>
        </tr>
        <tr>
            <td>Vloga</td>
            <td>{{uporabnik.vloga}}</td>
        </tr>
        <tr>
            <td>Rank</td>
            <td ><img src="/{{isValid uporabnik.skupnaOcena}}" alt="" style="height:100px; width: 100px"></td>
        </tr>
    </table>
</div>
