<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">myProfile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{uporabnik.username}}</h4>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{uporabnik.username}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{uporabnik.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Birth date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{uporabnik.datum}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Total Kg lifted<</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{uporabnik.totalKgLifted}}
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Previous workouts</i>Date of workout</h6>
                                <table>
                                    <tr>
                                        <th  style="color: black;position:absolute"></th>
                                        <th style="color: black;position: relative"></th>
                                    </tr>
                                    {{#each uporabnik.workouts as |workouts|}}
                                        <tr>
                                            <td style="color: black" onclick="window.location = '/previousWorkouts/{{@index}}'" style="text-align: center">{{workouts.naslov}}</td>
                                            <td style="color: black">{{workouts.datumWorkout}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>

    </div>
</div>
