<div class="about_main layout_padding">

    <div class="collection_section">
        <div class="container">
            <div class="collection_text">Profile</div>
        </div>
    </div>
    <div class="container bg-light2 flex-wrapper">
        <div class="row bg-light">
            <div class="col bg-light2">
            <table class="table table-hover table-bordered table-dark" style="width: 50%;margin-left: 40%;margin-right: 25%; background-color: #59C3C3; cursor: pointer">
            <tr>
                <th  style="color: black">Previous workouts</th>
                <th style="color: black"> Date of workout</th>
            </tr>
            {{#each uporabnik.workouts as |workouts|}}
                <tr>
                    <td style="color: black" onclick="window.location = '/previousWorkouts/{{@index}}'" style="text-align: center">{{workouts.naslov}}</td>
                    <td style="color: black">{{workouts.datumWorkout}}</td>
                </tr>
            {{/each}}
        </table>
            </div>
            <div class="col" >
                <div class="row mb-5">
                    <table style="background-color: #59C3C3" class="table table-hover table-bordered table-dark" style="width: 50%;background-color: #59C3C3; margin-left: auto;margin-right: auto">
                        <tr>
                            <td   style="font-weight: bold;color: black">Uporabnisko ime</td>
                            <td style="color: black">{{uporabnik.username}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;color: black">Email</td>
                            <td style="color: black">{{uporabnik.email}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;color: black">Birth date</td>
                            <td style="color: black">{{uporabnik.datum}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;color: black">Total Kg lifted</td>
                            <td style="color: black">{{uporabnik.totalKgLifted}}</td>
                        </tr>
                    </table>
                </div>
                <div style="display: flex" >
                    <button style="margin: auto" class="btn"><i onclick="window.location='/addWeight'" class="fas fa-weight fa-10x"></i></button>
                </div>
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>

            <div class="col">
                <form id="dodajPrijatelja" action="" method="post" role="form">
                        <div class="container bg-light2 flex-wrapper">
                            <div class="container">
                                    <div class="col bg-light2">
                                        <table class="table table-hover table-bordered table-dark" style="width: 100%; background-color: #59C3C3; cursor: pointer">
                                            <tr>
                                                <th  style="color: black" >Friends</th>
                                            </tr>
                                            {{#each uporabnik.friends as |friends|}}
                                                <tr>
                                                    <td style="color: black" onclick="window.location = '/profile/{{friends.username}}'" style="text-align: center">{{friends.username}}</td>
                                                </tr>
                                            {{/each}}
                                        </table>
                                        <div class="form-group">
                                            <label>Add a friend:</label>
                                            <input id="addFriend" type="text" class="form-control" name="addFriend" required placeholder="Enter friends username">
                                            <div class="form-group" style="text-align:center">
                                                <button style="align-items: center"class="btn btn-primary" id="uredi">Confirm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </form>
            </div>

        </div>
</div>

